.scheme-contents {
    display: none;
}

.scheme-title {
    background-color: #222222;
    font-size: 1.10em;
    font-weight: bold;
    text-align: center;
    max-width: 200;
}

.scheme-title:hover {
    cursor: hand;
}

.scheme-wrapper {
    margin: 0 0 0 10px;
}
