.test-table {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.test-row {
    display: table-row;
}

.test-cell {
    display: table-cell;
    padding: 2px 2px 2px 2px;
}

.test-tx-orig {
    background-color: white;
}

.test-cell label {
    color: black;
}

.test-rx-fail, .test-tx-fail {
    background-color: red;
}

.test-rx-1 {
    background-color: rgba(52, 113, 201, 1);
}

.test-rx-2 {
    background-color: rgba(52, 113, 201, .5);
}

.test-rx-3 {
    background-color: rgba(52, 113, 201, .35);
}

.test-rx-4 {
    background-color: rgba(52, 113, 201, .2);
}

#test-rdm-viewer {
    display: none;
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 7000;
}

#test-rdm-viewer img {
    width: 480px;
    height: 320px;
}

.test-abort {
    z-index: 20000;
}

.super-modal input[type=textfield] {
    width: 100%;
}

#test-transmit-channels .super-modal {
    height: 350px;
}

#testsuite-popup .super-modal {
    height: 300px;
}

.super-modal label:not(.test-tx-orig):not(.test-tx-fail):not(.test-rx-1):not(.test-rx-2):not(.test-rx-3):not(.test-rx-4):not(.test-rx-fail) {
    background-color: rgba(0, 0, 0, 0);
    color: black;
}

.super-modal {
    padding: 10px 10px 10px 10px;
    background-color: rgba(255, 150, 0, .7);
    border: 1px rgba(170, 0, 0, 1) solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    width: 300px;
    height: 200px;
    z-index: 2000;
    color: black;
}

