#about-div.modal-div
  .collapsible
    label.collapse-label About
    div
      .logo
      br
      label ©SpotterRF 2011
  .collapsible
    label.collapse-label Version
    div
      label Version:
      span.version
      br
      label Build:
      span.build
  #about-back.modal-button.button.clickable
    div Back
