#buttons.modal-div
  include ./js/modules/setup/button.jade
  include ./js/modules/settings/button.jade
  include ./js/modules/zone-settings/button.jade
  include ./js/modules/about/button.jade

#appendHere
  include ./js/modules/setup/content.jade
  include ./js/modules/settings/content.jade
  include ./js/modules/zone-settings/content.jade
  include ./js/modules/about/content.jade

