#zone-div.modal-div
  #create-alertzone.button.clickable(data-toggled='')
    div Create Alert Zone
  #create-ignorezone.button.clickable(data-toggled='')
    div Create Ignore Zone
  #delete-zone.button.clickable(data-toggled='')
    div Delete Zone
  #zone-cancel.modal-button.button.clickable
    div Back
