!!! 5
//- <html manifest='main.appcache'>
html
  head
    title Tracker Display
    meta(charset='utf-8')
    meta(name="apple-touch-fullscreen",content="yes")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=no")

    link(rel="stylesheet",type="text/css",media="screen",href="css/style.css")

    //-
      | Themes
      | This is a terrible hack. Safari 5.1 doesn't work correctly with switching stylesheets,
      | so the current game-plan is to change the href attribute, which seems to work.
    link(rel="stylesheet",type="text/css",media="screen",title="theme",href="css/themes/day.css")

    link(rel="stylesheet",type="text/css",href='css/fonts.css')
    link(rel="stylesheet",type="text/css",href='css/notify.css')

    script(src='./pakmanaged.js')
  body
    #tracks-wrapper
      canvas#tracks
        | Your browser isn't cool enough to support the canvas element.  Try one of these:
        | Chrome, Firefox, Opera, or Safari
        | If you are using one of these browsers, please update to the latest version.

    #grid-wrapper
      canvas#grid
        | Your browser isn't cool enough to support the canvas element.  Try one of these:
        | Chrome, Firefox, Opera, or Safari
        | If you are using one of these browsers, please update to the latest version.

    #zones-wrapper
      canvas#zones
        | Your browser isn't cool enough to support the canvas element.  Try one of these:
        | Chrome, Firefox, Opera, or Safari
        | If you are using one of these browsers, please update to the latest version.

    a#settings.logo(href='#')

    include mods

    #version

    audio#audio-alert(src='audio/alert.ogg', preload='auto')
