body {
    background-color: rgb(253, 246, 227);
}

.collapse-label {
    color: rgb(0, 0, 0);
    font-family: 'US101Regular';
}

/*
.collapse-label:hover {
    color: rgb(151, 173, 191);
    background-color: rgb(47, 61, 61);
}-
*/

div.collapsible div, input[type='checkbox'] ~ label {
    color: rgb(18, 19, 20);
}

select, option {
    background-color: rgb(238, 232, 213);
}

select:hover, option:hover {
    background-color: rgb(147, 161, 161);
}

input[type=textfield] {
    background-color: rgb(253, 246, 227);
}

.button {
    color: rgb(18, 19, 20);
    background-color: rgb(241, 157, 25);
    border: 2px solid rgb(9, 6, 0);
}

.button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 168, 0);
    border: 2px solid rgb(9, 6, 0);
}

.log-modal {
    color: rgb(203, 75, 22);
    background-color: rgb(238, 232, 213);
}

.chkbox {
    background-color: rgb(253, 246, 227);
}

#notify-div {
    background-color: rgba(253, 246, 227, .7);
}

.modal-div {
    margin: 10px 10px 10px 10px;
    background-color: rgba(52, 113, 201, .7);
}

.logo {
    background-image: url('../../images/day-spotter-button.png');
}

#settings:active {
    background-image: url('../../images/day-spotter-button-click.png');
}

#version {
    color: white;
    background-color: rgba(0, 0, 0, .9);
}
