body {
    margin: 0;
    padding: 0;
    font-family: "SpotterRF Sans";
}

#tracks-wrapper, #grid-wrapper, #zones-wrapper {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#tracks-wrapper {
    z-index: 150;
}

#zones-wrapper {
    z-index: 50;
}

#grid-wrapper {
    z-index: 100;
}

.modal-div {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 50000;
}

.chkbox {
    height: 40;
    vertical-align: middle;
}

div.collapsible div {
    padding: 0px 0px 0px 10px;
}

div.collapsible {
    padding: 0px 0px 5px 0px;
}

/*
.collapse-label:hover {
    cursor: pointer;
}
*/

.button {
    display: table;
    vertical-align: middle;
    margin: 10px 5px 10px 10px;
    max-width: 100px;
    height: 30px;
    font-family: 'US101Regular';
}

.button:hover {
    cursor: pointer;
}

.button div {
    text-align: center;
    padding: 5px 10px 5px 10px;
    display: table-cell;
    vertical-align: middle;
}

.modal-button {
    float: left;
}

.log-modal {
    position: absolute;
    width: 400;
    height: 100%;
    top: 20;
    right: 20;
}

.opacity {
    display: none;
}

#audio-alert {
    display: none;
}

.logo {
    width: 80px;
    height: 35px;
    background-size: 100% 100%;
    border-radius: 10px;
}

#settings {
    position: absolute;
    display: block;

    top: 10px;
    left: 10px;

    margin: 25px;
    z-index: 200;
}

#buttons {
    position: absolute;
    display: none;
    top: 10px;
    left: 10px;
    z-index: 500;
}

label:not([for]) {
    margin-right: 5px;
}

#delete-zone[data-toggled=true] {
    background-color: rgb(0, 50, 0);
}

#version {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 500;
    text-align: right;
}
