table
  thead
    tr
      th Logo
      th Name
      th Version
      th Channel
      th Installed
      th Updated
      th Scopes
      th Origin
      th License
  tbody
    tr.js-app
      td
        img.js-logo
      td.js-name
      td.js-version
      td.js-channel
      td.js-installed
      td.js-updated
      td.js-scopes
      td.js-origin
      td.js-license
  tfoot
