div.container.js-suggested-installer
  div.row
    h2 It looks like this is the installer you need:
  div.row
    div.span4
    div.span4.js-my-installer
    div.span4
div.container
  div.row
    h2 These other options are also available:
  div.js-installers.row
    div.js-installer-osx.span3
      div.row
        img(src="images/platform-icon-osx.png")
      div.row Mac OS X
      div.row
        a.btn(href="installers/WebAppsCenter.pkg") Download pkg
    div.js-installer-ubuntu.span3
      div.row
        img(src="images/platform-icon-ubuntu.png")
      div.row Ubuntu Linux
      div.row
        a.btn(href="installers/WebAppsCenter.deb") Download deb
    div.js-installer-win.span3
      div.row
        img(src="images/platform-icon-win.png")
      div.row Microsoft Windows
      div.row
        a.btn(href="installers/WebAppsCenter.exe") Download exe
    div.js-installer-generic.span3
      div.row
        img(src="images/platform-icon-generic.png")
      div.row Source
      div.row
        a.btn(href="installers/WebAppsCenter.tar.gz") Download tar.gz
